---
BasedOnStyle: LLVM
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Always
BreakBeforeBraces: WebKit
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
...
